#status,#number_of_objects,#start {
    font-size:18px;
}
.copy_right_footer{
    bottom:0;
    position:fixed;
    width:100%;
    line-height:3;
    background-color:aqua;
    color:purple;
    text-align:center;
}
.heading{
    width: 100%;
    box-shadow:5px 10px 18px gray;
    margin:0px;
    font-size:25px;
    color:darkblue;
    
}

canvas{
    margin-top:100px;
    border: 2px dashed red;
    border-radius:12px;
    box-shadow:5px 10px 10px gray;
}
body{
    background-size: cover;
    background-position:center;
}